[DEFAULT]
sql_connection=mysql://someuser:somepasswd@localhost/dough
api_listen=localhost
api_listen_port=5557
farmer_listen=localhost
farmer_listen_port=5558
keystone_username=someusername
keystone_password=somepassword
keystone_tenant_name=sometenant
keystone_auth_url=someurl
